<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TrackCast</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:300,400,600,300italic,600italic,700" rel="stylesheet" type="text/css" media="all">


    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>

    <!-- Link to javascript -->
    <script src="static/js/script.js"></script>

    <!-- Begins Responsive flex grid div -->
    <div class="wrapper">
      <header>
        <img src="static/headerwatercolor.png"/>
      </header>

      <div class="logo-img">
        <i class="fas fa-microphone-alt"></i>
      </div>
      <div class="logo-text">TrackCast</div>

      <!-- Menu bar -->
      <nav>
        <ul>
          <li><a href="#subscrition-section">Subscriptions</a></li>
          <li><a href="#search-section">Search</a></li>
          <li><a href="#top-section">Top Podcasts</a></li>
          <li><a href="#browse-section">Browse</a></li>
          <li><a href="#listen-first-section">Listen First</a></li>
          <li><a href="#twitter-feed-section">Twitter Feed</a></li>

        </ul>
      </nav>

      <div id="log-in" class="div-header-text">Log-In To Your Gpodder Account Below To View Your Subscriptions

        <form id="log-in-form" action="/" method="post">
          <input name="username" type="text" placeholder="Username" required>

          <input name="password" type="password" placeholder="Password" required>

          <input type="submit" value="Log-In">
        </form>

      </div>

      <!-- Begin Subscription Section -->
      <div id="subscription-section" class="div-header-text">Subscriptions (Click on Podcasts for details)
        {% if subPodList and lengthSub %}
          <div class="grid-container">
            {% for i in range(lengthSub) %}
              <div class="grid-item" id="grid-item-sub-{{i}}" onClick="show_modal_sub(this.id)">
                <p>{{subPodList[0][i]}}</p>
                <img src="{{subPodList[1][i]}}"/>
              </div>
              <!-- The Modal -->
              <div id="modal-item-sub-{{i}}" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close" id="close-sub-{{i}}" onClick="hide_modal_sub(this.id)">&times;</span>
                  <h3>{{subPodList[0][i]}}</h3>
                  </br>
                  <h4>Description:</h4>
                  <p>{{subPodList[2][i]}}</p>
                  </br>
                  <h4>Check out the podcast's website and listen to episodes:</h4>
                  <p><a href="{{subPodList[3][i]}}" target="_blank">{{subPodList[3][i]}}</a></p>
                  </br>
                  <h4>Subscribe or view the podcast on gpodder.net:</h4>
                  <p><a href="{{subPodList[4][i]}}" target="_blank">{{subPodList[4][i]}}</a></p>
                  </br>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <!-- Begin Search Section -->
      <div id="search-section" class="div-header-text">Search

        <!-- User submits search query here -->
        <form action="/search" method="post">
          <input name="searchInput" type="text" placeholder="Search For Podcasts" required>
          <button class="btn"><i class="fas fa-search"></i></button>
        </form>

        {% if searchResults and length %}
          <div class="grid-container">
            {% for i in range(length) %}
              <div class="grid-item" id="grid-item-search-{{i}}" onClick="show_modal_search(this.id)">
                <p>{{searchResults[0][i]}}</p>
                <img src="{{searchResults[1][i]}}"/>
              </div>
              <!-- The Modal -->
              <div id="modal-item-search-{{i}}" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close" id="close-search-{{i}}" onClick="hide_modal_search(this.id)">&times;</span>
                  <h3>{{searchResults[0][i]}}</h3>
                  </br>
                  <h4>Description:</h4>
                  <p>{{searchResults[2][i]}}</p>
                  </br>
                  <h4>Check out the podcast's website and listen to episodes:</h4>
                  <p><a href="{{searchResults[3][i]}}" target="_blank">{{searchResults[3][i]}}</a></p>
                  </br>
                  <h4>Subscribe or view the podcast on gpodder.net:</h4>
                  <p><a href="{{searchResults[4][i]}}" target="_blank">{{searchResults[4][i]}}</a></p>
                  </br>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <!-- Begin Toplist Section -->
      <div id="top-section" class="div-header-text">Top Podcasts
        {% if topPodList %}
          <div class="grid-container">
            {% for i in range(12) %}
              <div class="grid-item" id="grid-item-top-{{i}}" onClick="show_modal_top(this.id)">
                <p>{{topPodList[0][i]}}</p>
                <img src="{{topPodList[1][i]}}"/>
              </div>
              <!-- The Modal -->
              <div id="modal-item-top-{{i}}" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close" id="close-top-{{i}}" onClick="hide_modal_top(this.id)">&times;</span>
                  <h3>{{topPodList[0][i]}}</h3>
                  </br>
                  <h4>Description:</h4>
                  <p>{{topPodList[2][i]}}</p>
                  </br>
                  <h4>Check out the podcast's website and listen to episodes:</h4>
                  <p><a href="{{topPodList[3][i]}}" target="_blank">{{topPodList[3][i]}}</a></p>
                  </br>
                  <h4>Subscribe or view the podcast on gpodder.net:</h4>
                  <p><a href="{{topPodList[4][i]}}" target="_blank">{{topPodList[4][i]}}</a></p>
                  </br>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>


      <!-- Begin Browse Section -->
      <div id="browse-section" class="div-header-text">Browse (Sorted by popularity)
        <form action="/browse" method="post">
          <select name="browseChoice">
            {% for i in range(7) %}
              <option value="{{topTagList[0][i]}}">{{topTagList[0][i]}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Browse">
        </form>

        {% if browsePodList %}
          <div class="grid-container">
            {% for i in range(16) %}
              <div class="grid-item" id="grid-item-browse-{{i}}" onClick="show_modal_browse(this.id)">
                <p>{{browsePodList[0][i]}}</p>
                <img src="{{browsePodList[2][i]}}"/>
              </div>
              <!-- The Modal -->
              <div id="modal-item-browse-{{i}}" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close" id="close-browse-{{i}}" onClick="hide_modal_browse(this.id)">&times;</span>
                  <h3>{{browsePodList[0][i]}}</h3>
                  </br>
                  <h4>Description:</h4>
                  <p>{{browsePodList[1][i]}}</p>
                  </br>
                  <h4>Check out the podcast's website and listen to episodes:</h4>
                  <p><a href="{{browsePodList[3][i]}}" target="_blank">{{browsePodList[4][i]}}</a></p>
                  </br>
                  <h4>Subscribe or view the podcast on gpodder.net:</h4>
                  <p><a href="{{browsePodList[4][i]}}" target="_blank">{{browsePodList[5][i]}}</a></p>
                  </br>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <!-- Begin Listen First Section -->
      <div id="listen-first-section" class="div-header-text">Listen First
        <h3> According to the frequency of episode postings in the top 25 podcasts, to avoid falling behind you should listen in the following order: </p>
        {% if lFList %}
          <div id="lF-list">
            <ol>
              {% for podcast in lFList %}
                <li>{{podcast}}</li>
              {% endfor %}
            </ol>
          </div>
        {% endif %}
      </div>

      <!-- Begin Twitter Feed Section -->
      <div id="twitter-feed-section" class="div-header-text">Twitter feed
        <div class="twitter">
          <h3> Follow some of the top podcasts' twitter feeds and discover more podcasts to follow!</h3>
          <a class="twitter-timeline"
            href="https://twitter.com/TrackcastTweets/lists/trackcasttwitter?ref_src=twsrc%5Etfw"
            data-width="500"
            data-height="400">
          </a>
        </div>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div>
  </body>
</html>
